@plugin "daisyui/theme" {
  name: 'pp_theme';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(24.353% 0 0);
  --color-base-200: oklch(22.648% 0 0);
  --color-base-300: oklch(20.944% 0 0);
  --color-base-content: oklch(84.87% 0 0);
  --color-primary: oklch(54% 0.245 262.881);
  --color-primary-content: oklch(95% 0.026 236.824);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(12.818% 0.005 229.389);
  --color-accent: oklch(70% 0.213 47.604);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(87% 0.15 154.449);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
